import GitHub from "@auth/core/providers/github";
import { PrismaClient } from "@prisma/client";
import { PrismaAdapter } from "@next-auth/prisma-adapter";
import EmailProvider from "@auth/core/providers/email";


const prisma = new PrismaClient();

export default {
	adapter: PrismaAdapter(prisma),
	providers: [
		GitHub({
			clientId: import.meta.env.GITHUB_CLIENT_ID,
			clientSecret: import.meta.env.GITHUB_CLIENT_SECRET,
		}),
		EmailProvider({
			id: "email",
			name: "Email",
			type: "email",
			server: {
				host: import.meta.env.EMAIL_SERVER_HOST,
				port: import.meta.env.EMAIL_SERVER_PORT,
				auth: {
					user: import.meta.env.EMAIL_SERVER_USER,
					pass: import.meta.env.EMAIL_SERVER_PASSWORD,
				},
			},
			from: import.meta.env.EMAIL_FROM,
		}),
	],
};
